.overlay {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #673ab7;
	color: #fafafa;
	font-size: 24px;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal {
	.title {
		margin-bottom: 12px;
		font-size: 18px;
	}

	input {
		max-width: 220px;
		font-size: 16px;
		padding: 8px 16px;
		color: #444;
		border-radius: 6px;
		border: none;
		margin-bottom: 12px;
	}

	button {
		font-size: 16px;
		padding: 8px 16px;
		color: #444;
		border-radius: 6px;
		border: none;
		margin-right: 12px;
	}

	.red {
		background: #ec2828;
		color: white;
		font-weight: bold;
	}

	.primary {

	}
}

