@import '~style/helpers';

.firmware {
	min-height: 100%;
	width: 100%;
	padding: 84px 32px 24px;

	[type="button"], button {
		margin-top: 12px;
		background: #673ab7;
		color: white;
		padding: 8px 16px;
		border: none;
		border-radius: 8px;
		box-shadow: 1px 1px 3px 1px #673ab755;
	}

}
